<link name="sphere_link">
  <visual>
    <geometry>
      <sphere radius="0.1"/>
    </geometry>
    <material name="green">
      <color rgba="0 1 0 1"/>
    </material>
  </visual>
  <collision>
    <geometry>
      <sphere radius="0.1"/>
    </geometry>
  </collision>
  <inertial>
    <mass value="0.05"/>
    <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
  </inertial>
</link>

<joint name="sphere_joint" type="fixed">
  <parent>base_link</parent>
  <child>sphere_link</child>
  <origin xyz="0 0 0.5" rpy="0 0 0"/>
</joint>
